* {
    font-family: 'FS PF BeauSans Pro', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    padding: 14px 120px;
    justify-content: space-between;
    background-color: #ffffff;
}


.headerLogin2{
    display: flex;
    gap: 24px;
    color: #1D2939;
    font-weight: 600;

}
.headerLogin2 label{
    color: #F37142;

}
.headerLogin2 select{
    border: none;
    color: #F37142;
    font-weight: 600;
    appearance: none;
}
.headerLogin3{
    display: flex;
    align-items: center;

}


.headerLogin3 span{
    margin-right: 16px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 48px;
}

body{
    background-color: #f5fbff;

}
nav{
    display: flex;
    gap: 8px;
    color: #848484;
    padding: 16px 120px 0;
}
.active{
    color: #3D3D3D;
}
main{
    padding: 24px 120px 0;
}
main h1{
    color: #3D3D3D;
    font-weight: bold;
    font-size: 32px;
}



/* Styling for the sectionMain */
.sectionMain {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
    background-color: #f9f9f9;
}

.card {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card-level {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

.card-participants,
.card-duration {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.card-participants img,
.card-duration img {
    width: 24px;
    height: 24px;
}

.card-title,
.card-info {
    font-size: 14px;
    color: #666;
}

/* Nút thi */
.card-button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: 2px solid #DD673C;
    border-radius: 16px;
    box-shadow: 0 4px 0 0 #AD502F;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    background-color: #F37142;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.card-button:hover {
    border-color: #d56239;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        -115deg,
        #F37142 60%,
        #f8854f 60%,
        #f8854f 62%,
        #F37142 62%,
        #F37142 65%,
        #f8854f 65%,
        #f8854f 70%,
        #F37142 70%,
        #F37142 73%,
        #f8854f 73%,
        #f8854f 75%,
        #F37142 75%
    );
    pointer-events: none;
    z-index: 0;
}

.card-button span {
    position: relative;
    z-index: 1;
}





.box{
    width: 270px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0 5px 0 0 #DDDDDD;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 32px;
    padding: 0 40px;
    text-align: center;
}
.box:hover{
    background-color: #FAFAFA;
}


.box span{
    font-size: 14px;
    color: #676767;
}
.title{
    margin-top: 16px;
}
.box p{
    color: #676767;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 32px
}
.boxIcon{
    border: 1px solid #DDDDDD;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;

}
.boxHeight{
    height: 254px;
}
.box1{
    height: 222px;
}
.boxFull{
    display: flex;
    justify-content: center;
}
.contact{
    width: 100%;
    border: 1px solid #DDDDDD;
    height: 142px;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 32px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: flex;
    gap: 16px;
}
.btn1{
    width: 97px;
    height: 50px;
    border: 1px solid #F58D68;
    border-radius: 16px;
    background-color: #FFFF;
    box-shadow: 0 3px 0 0 #F58D68;
    color: #F58D68;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.btn1:hover{
    background-color: #FAFAFA;
}
.btn2{
    cursor: pointer;

    width: 163px;
    height: 50px;
    border: 2px solid #DD673C;
    border-radius: 16px;
    box-shadow: 0 4px 0 0 #AD502F;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    background-color: #F37142;
    position: relative;
    z-index: 0;
    overflow: hidden;

}
.btn2:hover{
    border: 2px solid #d56239;
}

.btn2::before {


    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            -115deg,
            #F37142 60%,
            #f8854f 60%,
            #f8854f 62%,
            #F37142 62%,

            #F37142 65%,
            #f8854f 65%,
            #f8854f 70%,
            #F37142 70%,

            #F37142 73%,
            #f8854f 73%,
            #f8854f 75%,
            #F37142 75%
    );
    pointer-events: none;
    z-index: 0;
}

.btn2 span {
    position: relative;
    z-index: 1;
}
footer {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 480px;
    background: linear-gradient(25deg, rgb(255, 66, 0) 28%, rgb(237, 117, 61) 100%);
    overflow: hidden;
}

/* Lớp phủ background image */
footer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/backgroundFooter.png'); /* đường dẫn ảnh */
    background-size: cover;
    background-position: center;
    opacity: 0.15; /* độ mờ của ảnh */
    z-index: 0;
}

/* Nội dung trong footer nằm trên ảnh */
footer * {
    position: relative;
    z-index: 1;
}
.copyRight{
    bottom: 0;
    position: absolute;
    height: 34px;
    width: 100%;
    background-color: #F5B64A;
    color: white;
    align-items: center;
    display: flex;

}
.text{
    margin-left: 120px;
    font-size: 12px;
    font-weight: normal;
}
.textFooter1{
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 120px;
    margin-top: 64px;
}
.textFooter1 p{
    font-size: 30px;
    font-weight: 100;
}
.textFooter2{
    color: white;
    padding-left: 120px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;

}
.sectionFooter{
    margin-top:24px;
    display: flex;
    gap: 32px;
}
.textFooter2 strong{
    font-weight: 700    ;
}
.text1{
    display: flex;
    gap: 5px;
}
.textFooter3{
    color: white;
    font-weight: 300;
}
.textFooter3 table td{
    padding-right: 30px;
    padding-bottom: 4px;
}
.td{
    padding-bottom: 16px;
}
.textFooter3 table tr th{
    padding-bottom: 16px;
    font-weight: normal;
}
.textFooter4 {
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.imgFooter{
    position: absolute;
    bottom: -5px;
    right: -20px;

}

#logoHome{
    cursor: pointer;
}


.popUpInformation{
    right: 10%;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 2px 1px 1px  #888481;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    opacity: 0;
}
.popUpInformation .box1{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.dropdown-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0;

}

.dropdown-menu button{
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    background-color: #FFF;
    cursor: pointer;

}
.dropdown-menu button:hover{
    background-color: #e8e1d0;
}

.lang:hover .dropdown-menu{
    display: flex;

}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag-wrapper {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Avatar{
    cursor: pointer;
    width: 40px;
}


.containerAvatar{
    position: relative;
}



.containerAvatar:hover .popUpInformation {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.box2 .textSignOut{
    color: #d53c3c;


}
.box2{
    padding: 5px 0;
    cursor: pointer;
    font-weight: 600;
}
.box2:hover {
    background-color: #f3f1ee;

}

.modal-composition {
    display: none;
    width: 350px;
    height: auto;
    padding: 20px;
    flex-direction: column;
    border-radius: 16px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

/* .title1 {
    margin-bottom: -16px;
} */

.text-jp {
    color: #676767;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    z-index: 9999999;
}

.composition-jp {
    /* margin-top: -15px; */
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.content-struct {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 4px; */
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #F37142;
    background: #FFF7F4;
}

.exam-struct {
    margin-top: 0px;
    color: #F37142;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.part {
    margin-top: 0px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.time-part {
    margin-bottom: 0px;
    color: #676767;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* .content-part{
    margin-top: 0px;
} */

.modal-composition span{
    color: #676767;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}
.content-btn{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 10px 10px;
    gap: 8px;
}
.btn-modal{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
}
.return{
    color: #B5B5B5;
    cursor: pointer;
    border: 1px solid #B5B5B5;
    box-shadow: 0px 3px 0px 0px #B5B5B5;
}
.exam{
    color: #FFF;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #DD673C;
    background: #F37142;
    box-shadow: 0px 3px 0px 0px #c05d38;
}

.card:hover{
    border: 1px solid #c86935;
}